.LeftPanelCategory {
  margin-top: 1rem;
  .LeftPanelCategory__title {
    padding: 0.3rem 0 0.3rem 1rem;
    display: flex;
    font-size: 1.2rem;
    font-weight: 700;
    flex-direction: center;
    align-items: center;
    cursor: pointer;
    position: relative;

    &:hover {
      background-color: rgb(54, 18, 61);
      .LeftPanelCategory__title-plus {
        display: block;
      }
    }

    svg {
      display: inline-block;
      color: rgb(131, 131, 131);
    }

    .LeftPanelCategory__title-text {
      margin-left: 0.5rem;
    }

    .LeftPanelCategory__title-plus {
      font-size: 1.4rem;
      position: absolute;
      right: 1rem;
      top: 5px;
      display: none;

      svg {
        color: white;
      }
    }
  }

  .LeftPanelCategory__list {
    ul {
      list-style: none;
      padding-left: 0;
      margin: 0;
      li {
        padding: 4px 0 4px 27px;
        list-style: none;
        font-size: 1.1rem;
        cursor: pointer;
        display: flex;
        align-items: center;
        &:hover {
          background-color: rgb(54, 18, 61);
        }

        &.active {
          background-color: rgb(3, 107, 177);
        }

        svg {
          display: inline-block;
          margin-right: 10px;
        }
      }
    }
  }
}
