.MidPanelChatBox {
  border-radius: 20px;

  form {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;

    .MidPanelChatBox__input {
      position: fixed;
      bottom: 30px;
      width: 30%;
      border-radius: 3px;
      border: 1px solid gray;
      padding: 20px;
    }

    button {
      display: none !important;
    }
  }
}

@media screen and (max-width: 600px) {
  .MidPanelChatBox__input {
    width: 80% !important;
  }
}
